.dashboard-icon{
  stroke: var(--color-purple-100);
  width: 22px;

  &.filled-icon{
    fill: var(--color-purple-100);
  }
}

button.nav-btn:hover span {
  color: var(--color-light);
}

button.nav-btn:hover .dashboard-icon {
  stroke: var(--color-light);

  &.filled-icon{
    fill: var(--color-light)
  }
}
